page-topic-search {
    .title{
        float: left;
    }
    .bar{
        width: 100%;
        background-color: rgb(241, 241, 241);
    }
    .but{
        float: right;
    }
    .input{
        float: left;
        width: 80%;
        line-height: 2em;
    }
}
