$slide-height-small: 4.2rem;
$slide-height-large: 4.2rem;

.slide-title {
  width: 100%;
  height: $slide-height-small;
  color: #666666;
  background-color: map_get($colors, primary);
  padding: 0;
  border-bottom:2px solid map_get($colors, light);
}

.slide-title-unit {
  padding-bottom: 0.6rem;
  font-size: 1.6rem;
  color: white;
  height: $slide-height-small;
  line-height: $slide-height-small;
}

.slide-title-active {
  border-bottom: 3px solid yellow;
  color: yellow;
}


